<div class="row">
  <div class="col-md-8">
    <h3>My Shopping Bag</h3>
  </div>
  <div class="col-md-2">
    <h3>Order total: {{orderTotal | decimal | currency}}</h3>
  </div>
</div>
<div class="row">
  <table>
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Sub-total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tea in shoppingBag">
        <td>
          <h3>{{tea.name}}</h3>
          <img ng-src="{{tea.imageUrl}}" />
          <ts-info-cart tea-data="tea"></ts-info-cart>
        </td>
        <td>
          <p ng-hide="editMode">{{tea.quantity}}</p>
          <input ng-show="editMode" type="number" ng-model="tea.quantity"/>
        </td>
        <td>
          {{tea.subtotal | decimal | currency}}
        </td>
        <td>
          <button class="btn btn-warning" ng-hide="editMode" ng ng-click="changeMode()">Edit</button>
          <button class="btn btn-warning" ng-show="editMode" ng-click="changeMode(tea)">Save</button>
          <button class="btn btn-danger" ng-click="removeItem(tea)">Remove</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>